[core]
	excludesfile = /Users/aoyamakouhei/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Kohey Aoyama
	email = kou_713@hotmai.com
[commit]
	template = /Users/aoyamakouhei/.stCommitMsg
